.container {
    padding-left: 4rem;
    padding-right: 4rem;
    color: white;
    margin-top: 2rem;
    flex-wrap: nowrap;

}

.music-row {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

